# By Abdullah As-Sadeed

.atom/
.build/
.buildlog/
.dart_tool/
.DS_Store
.flutter-plugins
.flutter-plugins-dependencies
.history
.idea/
.pub-cache/
.pub/
.svn/
.swiftpm/
*.class
*.iml
*.ipr
*.iws
*.log
*.pyc
*.swp
**/doc/api/
**/ios/Flutter/.last_build_id
/android/app/debug
/android/app/profile
/android/app/release
/android/build/reports/problems/problems-report.html
/build/
app.*.map.json
app.*.symbols
migrate_working_dir/
