# By Abdullah As-Sadeed

**/doc/api/
**/ios/Flutter/.last_build_id
*.class
*.iml
*.ipr
*.iws
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.history
.idea/
.pub-cache/
.pub/
.svn/
.swiftpm/
/android/app/debug
/android/app/profile
/android/app/release
/android/build/reports/problems/problems-report.html
/build/
app.*.map.json
app.*.symbols
migrate_working_dir/
